.git
.gitattributes
.gitignore
.idea
.vscode
.npm-packages
*.log

# Docker
.dockerignore
docker
#!**/docker-entrypoint*.sh
!docker/mywebentry/docker-entrypoint*.sh
!docker/nginx/*
docker-compose*.yml

# Project
coverage
node_modules
.pnpm-store
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.next
.env*
.husky
.drone.yml
.editorconfig
.lintstagedrc.json
.eslintcache
.stylelintcache
