/*
  Typography
*/

:root {
  --text-root-size: theme('fontSize.root.base');
  --text-body-color: theme('colors.dark2');
  --baseline: theme('lineHeight.baseline.base');
  --rhythm-unit: calc(1rem * var(--baseline));
}

@screen xxl {
  :root {
    --text-root-size: theme('fontSize.root.xxl');
    --baseline: theme('lineHeight.baseline.xxl');
  }
}

html {
  font-size: var(--text-root-size);
  line-height: var(--baseline);
  text-rendering: optimizeLegibility;
  color: var(--text-body-color);
}

body {
  @apply font-sans font-normal not-italic antialiased;

  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-right: 0;
  margin-left: 0;
}

h1 {
  @apply mb-0 text-h1 mt-h1;
}

h2 {
  @apply mb-0 text-h2 mt-h2;
}

h3 {
  @apply mb-0 text-h3 mt-h3;
}

h4 {
  @apply mb-0 text-h4 mt-h4;
}

h5 {
  @apply mb-0 text-h5 mt-h5;
}

h6 {
  @apply mb-0 text-h6 mt-h6;
}

@screen xxl {
  h1 {
    @apply text-h1-xxl mt-h1-xxl;
  }

  h2 {
    @apply text-h2-xxl mt-h2-xxl;
  }

  h3 {
    @apply text-h3-xxl mt-h3-xxl;
  }

  h4 {
    @apply text-h4-xxl mt-h4-xxl;
  }

  h5 {
    @apply text-h5-xxl mt-h5-xxl;
  }

  h6 {
    @apply text-h6-xxl mt-h6-xxl;
  }
}

.fonts-loaded {
  @apply font-text;

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply font-brand;
  }

  & code {
    @apply font-code;

    font-weight: 500;
    font-variant-ligatures: normal;
  }
}
